In [22]:
import pandas as pd

In [23]:
# Cargar el archivo CSV
df = pd.read_csv("C:/Users/hp/Downloads/archive (3)/vgsales.csv")

# Mostrar las 10 primeras filas

In [24]:
print(df.head(10))

   Rank                       Name Platform    Year         Genre Publisher  \
0     1                 Wii Sports      Wii  2006.0        Sports  Nintendo
1     2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                     Tetris       GB  1989.0        Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7     8                   Wii Play      Wii  2006.0          Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0       Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31

# Para ver las últimas 5 filas

In [25]:
print(df.tail())

        Rank                                              Name Platform  \
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year     Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
16593  2002.0  Platform       Kemco      0.01      0.00       0.0
16594  2003.0   Shooter  Infogrames      0.01      0.00       0.0
16595  2008.0    Racing  Activision      0.00      0.00       0.0
16596  2010.0    Puzzle    7G//AMES      0.00      0.01       0.0
16597  2003.0  Platform     Wanadoo      0.01      0.00       0.0

       Other_Sales  Global_Sales
16593          0.0          0.01
16594          0.0          0.01
16595          0.0          0.01
16596          0.0          0.01
16597          0.0          0.01

# Obtener informacion general

In [26]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None

# Ver estadisticas descriptivas

In [27]:
print(df.describe())

               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16598.000000  16327.000000  16598.000000  16598.000000  16598.000000
mean    8300.605254   2006.406443      0.264667      0.146652      0.077782
std     4791.853933      5.828981      0.816683      0.505351      0.309291
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4151.250000   2003.000000      0.000000      0.000000      0.000000
50%     8300.500000   2007.000000      0.080000      0.020000      0.000000
75%    12449.750000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16598.000000  16598.000000
mean       0.048063      0.537441
std        0.188588      1.555028
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.470000
max       10.570000     82.740000

# Inspeccion de datos

In [28]:
print(df.dtypes)

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

# Conteo de valores unicos

In [29]:
print(df['Genre'].value_counts())

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: count, dtype: int64

# Mostrar todos los valores únicos en la columna

In [30]:
print(df['Platform'].unique())

['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS' 'PS4' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'GC' 'WiiU' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']

# Filtrado del DataFrame para mostrar solo las filas donde las ventas en América del Norte (NA_Sales) sean mayores a 1 millón.

In [31]:
df_na_sales = df[df['NA_Sales'] > 1]
print(df_na_sales)

      Rank                            Name Platform    Year         Genre  \
0        1                      Wii Sports      Wii  2006.0        Sports
1        2               Super Mario Bros.      NES  1985.0      Platform
2        3                  Mario Kart Wii      Wii  2008.0        Racing
3        4               Wii Sports Resort      Wii  2009.0        Sports
4        5        Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
...    ...                             ...      ...     ...           ...
1905  1907                           Joust     2600  1982.0      Platform
1917  1919                NCAA Football 14     X360  2013.0        Sports
1953  1955                       NFL Blitz      N64  1998.0        Sports
1954  1956         NFL Quarterback Club 98      N64  1997.0        Sports
1957  1959  Diablo II: Lord of Destruction       PC  2001.0  Role-Playing

                  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                  Nintendo     41.49     29.02      3.77         8.46
1                  Nintendo     29.08      3.58      6.81         0.77
2                  Nintendo     15.85     12.88      3.79         3.31
3                  Nintendo     15.75     11.01      3.28         2.96
4                  Nintendo     11.27      8.89     10.22         1.00
...                     ...       ...       ...       ...          ...
1905                  Atari      1.01      0.06      0.00         0.01
1917        Electronic Arts      1.01      0.00      0.00         0.06
1953           Midway Games      1.02      0.04      0.00         0.01
1954  Acclaim Entertainment      1.01      0.05      0.00         0.01
1957          Vivendi Games      1.03      0.02      0.00         0.00

      Global_Sales
0            82.74
1            40.24
2            35.82
3            33.00
4            31.37
...            ...
1905          1.08
1917          1.07
1953          1.06
1954          1.06
1957          1.06

[895 rows x 11 columns]

# Filtrado del DataFrame para mostrar solo las filas donde las ventas en Japón (JP_Sales) sean menores a 0.1 millón.

In [32]:
df_jp_sales = df[df['JP_Sales'] < 0.1]
print(df_jp_sales)

        Rank                                              Name Platform  \
23        24                                Grand Theft Auto V     X360
35        36                        Call of Duty: Black Ops II     X360
36        37                    Call of Duty: Modern Warfare 2     X360
60        61                                      Just Dance 3      Wii
61        62                              Call of Duty: Ghosts     X360
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year     Genre             Publisher  NA_Sales  EU_Sales  JP_Sales  \
23     2013.0    Action  Take-Two Interactive      9.63      5.31      0.06
35     2012.0   Shooter            Activision      8.25      4.30      0.07
36     2009.0   Shooter            Activision      8.52      3.63      0.08
60     2011.0      Misc               Ubisoft      6.05      3.15      0.00
61     2013.0   Shooter            Activision      6.72      2.63      0.04
...       ...       ...                   ...       ...       ...       ...
16593  2002.0  Platform                 Kemco      0.01      0.00      0.00
16594  2003.0   Shooter            Infogrames      0.01      0.00      0.00
16595  2008.0    Racing            Activision      0.00      0.00      0.00
16596  2010.0    Puzzle              7G//AMES      0.00      0.01      0.00
16597  2003.0  Platform               Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
23            1.38         16.38
35            1.12         13.73
36            1.29         13.51
60            1.07         10.26
61            0.82         10.21
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[14021 rows x 11 columns]

# Filtrar usando query():

In [33]:
df_action_sales = df.query('Genre == "Action" and Global_Sales > 2')
print(df_action_sales)

     Rank                                               Name Platform    Year  \
16     17                                 Grand Theft Auto V      PS3  2013.0
17     18                      Grand Theft Auto: San Andreas      PS2  2004.0
23     24                                 Grand Theft Auto V     X360  2013.0
24     25                        Grand Theft Auto: Vice City      PS2  2002.0
38     39                               Grand Theft Auto III      PS2  2001.0
..    ...                                                ...      ...     ...
815   817             Tom Clancy's Splinter Cell: Conviction     X360  2010.0
817   819                                    The Incredibles      GBA  2004.0
833   835  Peter Jackson's King Kong: The Official Game o...      PS2  2005.0
835   837                            Need for Speed: The Run      PS3  2011.0
840   842                                         Dead Space      PS3  2008.0

      Genre             Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
16   Action  Take-Two Interactive      7.01      9.27      0.97         4.14
17   Action  Take-Two Interactive      9.43      0.40      0.41        10.57
23   Action  Take-Two Interactive      9.63      5.31      0.06         1.38
24   Action  Take-Two Interactive      8.41      5.49      0.47         1.78
38   Action  Take-Two Interactive      6.99      4.51      0.30         1.30
..      ...                   ...       ...       ...       ...          ...
815  Action               Ubisoft      1.20      0.63      0.04         0.19
817  Action                   THQ      1.15      0.77      0.04         0.10
833  Action               Ubisoft      0.71      1.02      0.00         0.31
835  Action       Electronic Arts      0.58      1.06      0.03         0.37
840  Action       Electronic Arts      1.05      0.67      0.00         0.30

     Global_Sales
16          21.40
17          20.81
23          16.38
24          16.15
38          13.10
..            ...
815          2.06
817          2.06
833          2.04
835          2.04
840          2.02

[175 rows x 11 columns]

# Selecciona y muestra solo las columnas Name y Global_Sales del DataFrame.

In [34]:
df_name_sales = df[['Name', 'Global_Sales']]
print(df_name_sales)

                                                   Name  Global_Sales
0                                            Wii Sports         82.74
1                                     Super Mario Bros.         40.24
2                                        Mario Kart Wii         35.82
3                                     Wii Sports Resort         33.00
4                              Pokemon Red/Pokemon Blue         31.37
...                                                 ...           ...
16593                Woody Woodpecker in Crazy Castle 5          0.01
16594                     Men in Black II: Alien Escape          0.01
16595  SCORE International Baja 1000: The Official Game          0.01
16596                                        Know How 2          0.01
16597                                  Spirits & Spells          0.01

[16598 rows x 2 columns]

# Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Name y Genre.

In [35]:
df_loc_slice = df.loc[4:9, ['Name', 'Genre']]
print(df_loc_slice)

                        Name         Genre
4   Pokemon Red/Pokemon Blue  Role-Playing
5                     Tetris        Puzzle
6      New Super Mario Bros.      Platform
7                   Wii Play          Misc
8  New Super Mario Bros. Wii      Platform
9                  Duck Hunt       Shooter

# Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.

In [36]:
df_iloc_slice = df.iloc[:5, :3]
print(df_iloc_slice)

   Rank                      Name Platform
0     1                Wii Sports      Wii
1     2         Super Mario Bros.      NES
2     3            Mario Kart Wii      Wii
3     4         Wii Sports Resort      Wii
4     5  Pokemon Red/Pokemon Blue       GB