In [49]:
import pandas as pd

In [50]:
path = 'C:/Users/esteban.vazquez/ejercicios_coding_dojo/retail_sales_dataset.csv'
df = pd.read_csv(filepath_or_buffer=path, sep= ',', header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [51]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

# Identificar duplicados

In [52]:
duplicados = df.duplicated()
num_duplicados = duplicados.sum()
print(f"Número de registros duplicados: {num_duplicados}")
df.head()

Número de registros duplicados: 0

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [53]:
# Paso 1: Calcular el total de ventas por categoría de producto
total_sales_by_category = df.groupby('Product Category')['Total Amount'].sum()

In [54]:
# Paso 2: Calcular el promedio de ventas diarias por categoría de producto
# Convertir la columna de fecha a tipo datetime para calcular el promedio por día
df['Date'] = pd.to_datetime(df['Date'])

In [55]:
# Calcular el promedio diario de ventas por categoría
average_daily_sales_by_category = df.groupby(['Product Category', 'Date'])['Total Amount'].sum().groupby('Product Category').mean()

In [56]:
# Paso 3: Identificar las categorías de productos con mayores y menores ventas
highest_sales_category = total_sales_by_category.idxmax()
lowest_sales_category = total_sales_by_category.idxmin()

total_sales_by_category, average_daily_sales_by_category, highest_sales_category, lowest_sales_category

(Product Category
 Beauty         143515
 Clothing       155580
 Electronics    156905
 Name: Total Amount, dtype: int64,
 Product Category
 Beauty         703.504902
 Clothing       670.603448
 Electronics    716.461187
 Name: Total Amount, dtype: float64,
 'Electronics',
 'Beauty')

In [57]:
# Paso 4: Filtrar los datos para mostrar solo las ventas de la categoría "Electronics"
electronics_sales = df[df['Product Category'] == 'Electronics']

In [58]:
# Paso 5: Realizar operaciones de suma, resta, multiplicación y división en los datos para estadísticas adicionales
# Calcular la suma de las cantidades vendidas en la categoría "Electronics"
sum_quantity_electronics = electronics_sales['Quantity'].sum()

In [59]:
# Calcular la resta entre el monto total y el monto promedio de ventas en esta categoría
mean_total_amount_electronics = electronics_sales['Total Amount'].mean()
difference_total_vs_mean = electronics_sales['Total Amount'] - mean_total_amount_electronics

In [60]:
# Multiplicación: Precio por Unidad y Cantidad, verificando la consistencia de Total Amount
electronics_sales['Calculated Total'] = electronics_sales['Quantity'] * electronics_sales['Price per Unit']

C:\Users\esteban.vazquez\AppData\Local\Temp\ipykernel_8168\4249362837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electronics_sales['Calculated Total'] = electronics_sales['Quantity'] * electronics_sales['Price per Unit']

In [61]:
# Paso 4: Filtrar los datos para mostrar solo las ventas de la categoría "Electronics"
electronics_sales = df[df['Product Category'] == 'Electronics']

# Paso 5: Realizar operaciones de suma, resta, multiplicación y división en los datos para estadísticas adicionales
# Calcular la suma de las cantidades vendidas en la categoría "Electronics"
sum_quantity_electronics = electronics_sales['Quantity'].sum()

# Calcular la resta entre el monto total y el monto promedio de ventas en esta categoría
mean_total_amount_electronics = electronics_sales['Total Amount'].mean()
difference_total_vs_mean = electronics_sales['Total Amount'] - mean_total_amount_electronics

# Multiplicación: Precio por Unidad y Cantidad, verificando la consistencia de Total Amount
electronics_sales['Calculated Total'] = electronics_sales['Quantity'] * electronics_sales['Price per Unit']

# División: Precio por Unidad promedio de esta categoría entre la cantidad promedio para obtener relación
avg_price_per_unit_electronics = electronics_sales['Price per Unit'].mean()
avg_quantity_electronics = electronics_sales['Quantity'].mean()
price_quantity_ratio = avg_price_per_unit_electronics / avg_quantity_electronics

electronics_sales.head(), sum_quantity_electronics, mean_total_amount_electronics, difference_total_vs_mean.head(), electronics_sales[['Total Amount', 'Calculated Total']].head(), price_quantity_ratio

C:\Users\esteban.vazquez\AppData\Local\Temp\ipykernel_8168\3452013828.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electronics_sales['Calculated Total'] = electronics_sales['Quantity'] * electronics_sales['Price per Unit']

(    Transaction ID       Date Customer ID  Gender  Age Product Category  \
 2                3 2023-01-13     CUST003    Male   50      Electronics
 7                8 2023-02-22     CUST008    Male   30      Electronics
 8                9 2023-12-13     CUST009    Male   63      Electronics
 12              13 2023-08-05     CUST013    Male   22      Electronics
 14              15 2023-01-16     CUST015  Female   42      Electronics

     Quantity  Price per Unit  Total Amount  Calculated Total
 2          1              30            30                30
 7          4              25           100               100
 8          2             300           600               600
 12         3             500          1500              1500
 14         4             500          2000              2000  ,
 np.int64(849),
 np.float64(458.7865497076023),
 2     -428.78655
 7     -358.78655
 8      141.21345
 12    1041.21345
 14    1541.21345
 Name: Total Amount, dtype: float64,
     Total Amount  Calculated Total
 2             30                30
 7            100               100
 8            600               600
 12          1500              1500
 14          2000              2000,
 np.float64(73.27444051825677))