In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/hp/Downloads/archive (4)/Retail_sales.csv")

# Mostrar las 10 primeras filas

In [3]:
print(df.head(10))

     Store ID  Product ID        Date  Units Sold  Sales Revenue (USD)  \
0  Spearsland    52372247  2022-01-01           9              2741.69
1  Spearsland    52372247  2022-01-02           7              2665.53
2  Spearsland    52372247  2022-01-03           1               380.79
3  Spearsland    52372247  2022-01-04           4              1523.16
4  Spearsland    52372247  2022-01-05           2               761.58
5  Spearsland    52372247  2022-01-06           8              3046.32
6  Spearsland    52372247  2022-01-07           6              2284.74
7  Spearsland    52372247  2022-01-08           9              3427.11
8  Spearsland    52372247  2022-01-09           7              2665.53
9  Spearsland    52372247  2022-01-10           1               380.79

   Discount Percentage  Marketing Spend (USD)             Store Location  \
0                   20                     81                   Tanzania
1                    0                      0                 Mauritania
2                    0                      0  Saint Pierre and Miquelon
3                    0                      0                  Australia
4                    0                      0                  Swaziland
5                    0                     41                     Bhutan
6                    0                      0                   Suriname
7                    0                     83                     Taiwan
8                    0                      0           Papua New Guinea
9                    0                    164                     Canada

  Product Category Day of the Week  Holiday Effect
0        Furniture        Saturday           False
1        Furniture          Sunday           False
2        Furniture          Monday           False
3        Furniture         Tuesday           False
4        Furniture       Wednesday           False
5        Furniture        Thursday           False
6        Furniture          Friday           False
7        Furniture        Saturday           False
8        Furniture          Sunday           False
9        Furniture          Monday           False

# Para ver las Ãºltimas 5 filas

In [4]:
print(df.tail())

         Store ID  Product ID        Date  Units Sold  Sales Revenue (USD)  \
29995  Spearsland    50239115  2022-01-25           5              2501.15
29996  Spearsland    50239115  2022-01-26           3              1500.69
29997  Spearsland    50239115  2022-01-27           6              3001.38
29998  Spearsland    50239115  2022-01-28           5              2501.15
29999  Spearsland    50239115  2022-01-29           3              1425.66

       Discount Percentage  Marketing Spend (USD)  \
29995                    0                    100
29996                    0                      0
29997                    0                      0
29998                    0                      0
29999                    5                    190

                                     Store Location Product Category  \
29995                                        Malawi         Clothing
29996                                         Sudan         Clothing
29997  South Georgia and the South Sandwich Islands         Clothing
29998                                         Haiti         Clothing
29999                                    Mozambique         Clothing

      Day of the Week  Holiday Effect
29995         Tuesday           False
29996       Wednesday           False
29997        Thursday           False
29998          Friday           False
29999        Saturday           False

# Obtener informacion general

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Store ID               30000 non-null  object
 1   Product ID             30000 non-null  int64
 2   Date                   30000 non-null  object
 3   Units Sold             30000 non-null  int64
 4   Sales Revenue (USD)    30000 non-null  float64
 5   Discount Percentage    30000 non-null  int64
 6   Marketing Spend (USD)  30000 non-null  int64
 7   Store Location         30000 non-null  object
 8   Product Category       30000 non-null  object
 9   Day of the Week        30000 non-null  object
 10  Holiday Effect         30000 non-null  bool
dtypes: bool(1), float64(1), int64(4), object(5)
memory usage: 2.3+ MB
None

# Ver estadisticas descriptivas

In [6]:
print(df.describe())

         Product ID    Units Sold  Sales Revenue (USD)  Discount Percentage  \
count  3.000000e+04  30000.000000         30000.000000         30000.000000
mean   4.461294e+07      6.161967          2749.509593             2.973833
std    2.779759e+07      3.323929          2568.639288             5.974530
min    3.636541e+06      0.000000             0.000000             0.000000
25%    2.228600e+07      4.000000           882.592500             0.000000
50%    4.002449e+07      6.000000          1902.420000             0.000000
75%    6.559352e+07      8.000000          3863.920000             0.000000
max    9.628253e+07     56.000000         27165.880000            20.000000

       Marketing Spend (USD)
count           30000.000000
mean               49.944033
std                64.401655
min                 0.000000
25%                 0.000000
50%                 1.000000
75%               100.000000
max               199.000000

# Inspeccion de datos

In [7]:
print(df.dtypes)

Store ID                  object
Product ID                 int64
Date                      object
Units Sold                 int64
Sales Revenue (USD)      float64
Discount Percentage        int64
Marketing Spend (USD)      int64
Store Location            object
Product Category          object
Day of the Week           object
Holiday Effect              bool
dtype: object

# Conteo de valores unicos

In [12]:
print(df['Store ID'].value_counts())
print(df['Product Category'].value_counts())
print(df['Store Location'].value_counts())

Store ID
Spearsland    30000
Name: count, dtype: int64
Product Category
Furniture      9503
Electronics    8041
Clothing       6608
Groceries      5848
Name: count, dtype: int64
Store Location
Korea                       237
Congo                       234
Turks and Caicos Islands    156
Guam                        153
Tanzania                    151
                           ...
Trinidad and Tobago          98
Haiti                        96
Dominica                     95
Ireland                      92
Andorra                      80
Name: count, Length: 243, dtype: int64

# Mostrar todos los valores Ãºnicos en la columna

In [13]:
print(df['Store ID'].unique())
print(df['Product Category'].unique())
print(df['Store Location'].unique())

['Spearsland']
['Furniture' 'Electronics' 'Groceries' 'Clothing']
['Tanzania' 'Mauritania' 'Saint Pierre and Miquelon' 'Australia'
 'Swaziland' 'Bhutan' 'Suriname' 'Taiwan' 'Papua New Guinea' 'Canada'
 'Vietnam' 'Cocos (Keeling) Islands' 'Lebanon' 'Luxembourg'
 'French Guiana' 'Paraguay' 'Nauru' 'Italy' 'Saint Helena' 'Portugal'
 'French Southern Territories' 'Colombia' 'Switzerland' 'Mali' 'Reunion'
 'Romania' 'Dominican Republic' 'Sweden' 'Kiribati' 'Antigua and Barbuda'
 'Czech Republic' 'Mauritius' 'Congo' 'Bouvet Island (Bouvetoya)'
 'Hong Kong' 'Slovenia' 'Antarctica (the territory South of 60 deg S)'
 'Trinidad and Tobago' 'Oman' 'Lithuania' 'Tokelau'
 'Northern Mariana Islands' 'Sierra Leone' 'Libyan Arab Jamahiriya'
 'Jersey' 'Saudi Arabia' 'United States of America' 'Germany'
 'Saint Barthelemy' 'Montenegro' 'Tuvalu' 'Micronesia' 'Netherlands'
 'Mexico' 'Puerto Rico' 'Palestinian Territory' 'Haiti' 'Sri Lanka'
 'French Polynesia' 'Isle of Man' 'Christmas Island' 'Martinique'
 'Kyrgyz Republic' 'Thailand' 'Seychelles' 'Algeria' 'Botswana' 'Jamaica'
 'Slovakia (Slovak Republic)' 'Anguilla' 'El Salvador' 'Macao'
 'Faroe Islands' 'North Macedonia' 'Nigeria' 'Korea' 'Zimbabwe'
 'American Samoa' 'Saint Vincent and the Grenadines' 'Estonia' 'Poland'
 'Belarus' 'United Arab Emirates' 'Iceland' 'Saint Lucia' 'Kenya'
 'Moldova' 'France' 'Egypt' 'Gibraltar' 'Bangladesh' 'Ireland' 'Lesotho'
 "Cote d'Ivoire" 'Norway' 'Tajikistan' 'Pakistan' 'Cambodia' 'Rwanda'
 'Cayman Islands' 'Togo' 'India' 'Cyprus' 'Guyana' 'Uruguay' 'Uzbekistan'
 'Mayotte' 'Comoros' 'Guam'
 'British Indian Ocean Territory (Chagos Archipelago)' 'Ethiopia' 'Brazil'
 'Ukraine' 'South Georgia and the South Sandwich Islands' 'Serbia'
 'Marshall Islands' 'Bosnia and Herzegovina' 'Nepal' 'Benin' 'Tonga'
 'Mongolia' 'Fiji' 'Bahrain' 'Argentina' 'Indonesia' 'Jordan'
 'Afghanistan' 'Svalbard & Jan Mayen Islands' 'Cook Islands' 'Panama'
 'Eritrea' 'Spain' 'Greenland' 'Djibouti' 'Ecuador' 'Peru' 'Nicaragua'
 'Liberia' 'Turkmenistan' 'Turks and Caicos Islands' 'Montserrat'
 'Maldives' 'Armenia' 'Russian Federation' 'Western Sahara' 'Denmark'
 'Vanuatu' 'Burundi' 'Singapore' 'Somalia' 'Norfolk Island' 'Israel'
 'Tunisia' 'Ghana' 'Namibia' 'Sao Tome and Principe' 'Guadeloupe' 'Latvia'
 'Grenada' 'United States Minor Outlying Islands' 'Pitcairn Islands'
 'Malaysia' 'Costa Rica' 'Netherlands Antilles' 'Wallis and Futuna'
 'Sudan' 'Heard Island and McDonald Islands' 'Equatorial Guinea' 'China'
 'Guatemala' 'Zambia' 'United Kingdom' 'Madagascar' 'Bermuda' 'Azerbaijan'
 'United States Virgin Islands' 'Guernsey'
 "Lao People's Democratic Republic" 'Niger' 'Timor-Leste' 'Georgia'
 'Turkey' 'Philippines' 'Bahamas' 'Albania' 'Kazakhstan' 'Malawi' 'Greece'
 'Dominica' 'Malta' 'Japan' 'Chile' 'Iran' 'San Marino' 'Cuba'
 'New Caledonia' 'Austria' 'Kuwait' 'Palau' 'Liechtenstein'
 'Central African Republic' 'Uganda' 'Morocco' 'Cameroon' 'Myanmar'
 'Yemen' 'Samoa' 'British Virgin Islands' 'Angola' 'Barbados' 'Qatar'
 'Honduras' 'Venezuela' 'Finland' 'Hungary' 'Syrian Arab Republic' 'Niue'
 'Burkina Faso' 'Cape Verde' 'Solomon Islands' 'New Zealand'
 'Saint Kitts and Nevis' 'Falkland Islands (Malvinas)' 'Belgium' 'Chad'
 'Iraq' 'Bulgaria' 'Gambia' 'Aruba' 'Belize' 'Croatia' 'Saint Martin'
 'Holy See (Vatican City State)' 'Andorra' 'Guinea-Bissau' 'South Africa'
 'Bolivia' 'Mozambique' 'Brunei Darussalam' 'Gabon' 'Guinea' 'Monaco'
 'Senegal']